@model Article
@{
//ViewBag.Title = Model.MetaTitle;
//ViewBag.Description = Model.MetaDescription;
//ViewBag.Keywords = Model.MetaKeywords;
}

<div>
    <h2>
        @Model.Title
    </h2>
    <h3>
        @Model.Url
    </h3>
    <h3>
        @Model.Date.ToShortDateString()
    </h3>
</div>
<div>
    @Html.Raw(Model.Text)
</div>
<div>
    <h3>Найденные аттрибуты статьи:</h3>
    @foreach (var attr in Model.Attributes)
    {
        <h4>
            <a asp-area="" asp-controller="Article" asp-action="Search" asp-route-template="@attr">
                @attr
            </a>
        </h4>
    }
</div>